@model EmployeesDashboard.Models.DepartmentViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Department2</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Deprtment">

            <partial name="_EditCreateDepartmentPartialView" model="@Model" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section ScriptSection
{
  <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}